.tap1 {
	float:left; width:50%
}

.tap2 {
	float:right; width:50%
}

.footer {
   padding-top: 20px;
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background:#999;
}