<!DOCTYPE html>
<html>

  <head>
    <title>KegPi</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='kegpicss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>

      <header>
        <section class="header container">
          <h1>KegPi</h1>
          </section>
      </header> 
    {% block content %}


    {% endblock %}
    <footer>
    <section class="footer container">
      
      <p>Copyright &copy; 2015 Brad Brockman &amp; Nichelle Fair. All rights reserved.<br>Powered by <a href="https://github.com/bradbrok/KegPi">KegPi</a></p>
       <ul>
      <li><a href="/">Home</a> |</li>
      <li><a href="/admin">Admin</a> |</li>
      <li><a href="/kegs">Kegs</a></li>
    </ul>
    </section>
      
    </footer>   
  </body>

</html>